<h1 class="text-center m-5">Đăng kí người dùng mới</h1>
<div class="container w-50">
  <mat-form-field appearance="standard">
    <mat-label>Input</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div>
