<h1 mat-dialog-title>Thêm mới sản phẩm</h1>
<div class="row">
  <div mat-dialog-content>
    <div class="col-md-6">
      <mat-form-field appearance="fill">
        <mat-label>Tên sản phẩm</mat-label>
        <input matInput />
      </mat-form-field>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Giá sản phẩm</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Giá sau khi giảm</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Hình ảnh sản phẩm</mat-label>
      <input matInput />
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary">Thêm</button>
  <button mat-raised-button cdkFocusInitial color="link">Hủy</button>
</div>
