<h2 class="text-center text-danger m-5">Danh sách sản phẩm</h2>

<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi" />
  </mat-form-field>
  &nbsp;
  <button type="submit" class="btn btn-info">Tìm kiếm</button>
</form>
<button mat-raised-button (click)="openDialog()">Pick one</button>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Sale price</th>
        <th>Image</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of products">
        <td>{{ p.id }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.price }}</td>
        <td>{{ p.sale_price }}</td>
        <td>{{ p.image }}</td>
        <td>
          <button class="btn btn-info">Chi tiết</button>&nbsp;
          <button class="btn btn-warning">Sửa</button>&nbsp;
          <button class="btn btn-danger">Xóa</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
