<h2>Danh sách sản phẩm</h2>
<button type="submit" class="btn btn-danger">Tìm kiếm</button>
<a routerLink="/product-create" class="btn btn-primary">Thêm mới</a>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Sale price</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr *ngFor="let p of products">
      <td>{{ p.id }}</td>
      <td>{{ p.name }}</td>
      <td>{{ p.price }}</td>
      <td>{{ p.sale_price }}</td>
      <td>{{ p.image }}</td>
    </tr> -->
  </tbody>
</table>
